'scopeName': 'source.cfml'
'name': 'cfml'
'fileTypes': [
  'cfc'
]
'injections':
  'meta.scope.cfoutput.cfml, meta.scope.cfoutput.js.cfml':
    'patterns': [
      {
        'include': '#hash-delimiters'
      }
    ]
  'meta.tag - meta.tag.cfml':
    'patterns': [
      {
        'include': '#cfml'
      }
    ]
'patterns': [
  {
    'include': '#cfml'
  }
  {
    'include': '#script'
  }
]
'repository':
  'cffunction':
    'begin': '(?i)(<)(cffunction)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
    'end': '(/?>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.end.cfml'
    'name': 'meta.tag.cfml'
    'patterns': [
      {
        'match': '(?i)\\b(name)\\s*(=)\\s*((")([_$a-zA-Z][$\\w]*)("))'
        'captures':
          '1':
            'name': 'entity.other.attribute-name.cfml'
          '2':
            'name': 'punctuation.separator.key-value.cfml'
          '3':
            'name': 'string.quoted.double.cfml'
          '4':
            'name': 'punctuation.definition.string.begin.cfml'
          '5':
            'name': 'entity.name.function.cfml'
          '6':
            'name': 'punctuation.definition.string.end.cfml'
      }
      {
        'match': '(?i)\\b(name)\\s*(=)\\s*((\')([_$a-zA-Z][$\\w]*)(\'))'
        'captures':
          '1':
            'name': 'entity.other.attribute-name.cfml'
          '2':
            'name': 'punctuation.separator.key-value.cfml'
          '3':
            'name': 'string.quoted.single.cfml'
          '4':
            'name': 'punctuation.definition.string.begin.cfml'
          '5':
            'name': 'entity.name.function.cfml'
          '6':
            'name': 'punctuation.definition.string.end.cfml'
      }
      {
        'include': '#tag-generic-attribute'
      }
    ]

  'cfif':
    'begin': '(?i)(<)(cfif|cfelseif)\\b'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'

    'end': '>'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.tag.end.cfml'
    'name': 'meta.tag.cfml'
    'contentName': 'source.cfscript'
    'patterns': [
      {
        'include': 'source.cfscript'
      }
    ]
  'cfml':
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'include': '#cfscript'
      }
      {
        'include': '#cfoutput'
      }
      {
        'include': '#cfquery'
      }
      {
        'include': '#cfif'
      }
      {
        'include': '#tags-with-script'
      }
      {
        'include': '#cffunction'
      }
      {
        'include': '#tag-start'
      }
      {
        'include': '#tag-end'
      }
    ]
  'cfscript':
    'begin': '(?i)(<)(cfscript)(\\s+|>)'
    'beginCaptures':
      '0':
        'name': 'meta.tag.cfml'
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
      '3':
        'name': 'punctuation.definition.tag.end.cfml'
    'end': '(?i)(</)(cfscript)(>)'
    'endCaptures':
      '0':
        'name': 'meta.tag.cfml'
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
      '3':
        'name': 'punctuation.definition.tag.end.cfml'
    'contentName': 'source.cfscript'
    'patterns': [
      {
        'include': 'source.cfscript'
      }
    ]
  'cfoutput':
    'begin': '(?i)(?=<cfoutput)'
    'end': '(?i)(</)(cfoutput)(>)'
    'endCaptures':
      '0':
        'name': 'meta.tag.cfml'
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
      '3':
        'name': 'punctuation.definition.tag.end.cfml'
    'patterns': [
      {
        'begin': '(?i)(<)(cfoutput)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.begin.cfml'
          '2':
            'name': 'entity.name.tag.cfml'
        'end': '(?=>)'
        'name': 'meta.tag.cfml'
        'patterns': [
          {
            'include': '#tag-generic-attribute'
          }
        ]
      }
      {
        'begin': '(>)'
        'beginCaptures':
          '0':
            'name': 'meta.tag.cfml'
          '1':
            'name': 'punctuation.definition.tag.end.cfml'
        'end': '(?i)(?=</cfoutput>)'
        'contentName': 'meta.scope.cfoutput.cfml'
        'patterns': [
          {
            'include': 'text.html.cfml'
          }
        ]
      }
    ]
  'cfoutput-script':
    'begin': '(?i)(?=<cfoutput)'
    'end': '(?i)(</)(cfoutput)(>)'
    'endCaptures':
      '0':
        'name': 'meta.tag.cfml'
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
      '3':
        'name': 'punctuation.definition.tag.end.cfml'
    'patterns': [
      {
        'begin': '(?i)(<)(cfoutput)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.begin.cfml'
          '2':
            'name': 'entity.name.tag.cfml'
        'end': '(?=>)'
        'name': 'meta.tag.cfml'
        'patterns': [
          {
            'include': '#tag-generic-attribute'
          }
        ]
      }
      {
        'begin': '(>)'
        'beginCaptures':
          '0':
            'name': 'meta.tag.cfml'
          '1':
            'name': 'punctuation.definition.tag.end.cfml'
        'end': '(?i)(?=</cfoutput>)'
        'contentName': 'meta.scope.cfoutput.js.cfml'
        'patterns': [
          {
            'include': '#hash-delimiters'
          }
          {
            'include': 'source.cfml'
          }
          {
            'include': 'source.js'
          }
        ]
      }
    ]
  'cfquery':
    'begin': '(?i)(?=<cfquery\\b)'
    'end': '(?i)(</)(cfquery)(>)'
    'endCaptures':
      '0':
        'name': 'meta.tag.cfml'
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
      '3':
        'name': 'punctuation.definition.tag.end.cfml'
    'patterns': [
      {
        'begin': '(?i)(<)(cfquery)\\b'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.begin.cfml'
          '2':
            'name': 'entity.name.tag.cfml'
        'end': '(?=>)'
        'name': 'meta.tag.cfml'
        'patterns': [
          {
            'include': '#tag-generic-attribute'
          }
        ]
      }
      {
        'begin': '(>)'
        'beginCaptures':
          '0':
            'name': 'meta.tag.cfml'
          '1':
            'name': 'punctuation.definition.tag.end.cfml'
        'end': '(?i)(?=</cfquery>)'
        'contentName': 'meta.scope.cfquery.cfml'
        'patterns': [
          {
            'include': '#cfml'
          }
          {
            'include': '#hash-delimiters'
          }
          {
            'include': 'source.sql'
          }
        ]
      }
    ]
  'comments':
    'patterns': [
      {
        'match': '<!---.*?--->'
        'name': 'comment.line.cfml'
      }
      {
        'begin': '<!---'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.cfml'
        'end': '--->'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.comment.cfml'
        'name': 'comment.block.cfml'
        'patterns': [
          {
            'include': '#comments'
          }
        ]
      }
    ]
  'hash-delimiters':
    'patterns': [
      {
        'match': '##'
        'name': 'constant.character.escape.hash.cfml'
      }
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'constant.character.hash.cfml'
        'end': '#'
        'endCaptures':
          '0':
            'name': 'constant.character.hash.cfml'
        'patterns': [
          {
            'include': 'source.cfscript#comments'
          }
          {
            'include': 'source.cfscript#expression'
          }
        ]
      }
    ]
  'script':
    'comment': 'intercept source.js so that we can correctly match cfml tags in it'
    'patterns': [
      {
        'begin': '(?:^\\s+)?(<)((?i:script))\\b(?=[^>]*\\btype\\s*=\\s*[\'"]?text/(x-handlebars|(x-handlebars-)?template|html)[\'"]?)(?![^>]*/>)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.html'
          '2':
            'name': 'entity.name.tag.script.html'
        'end': '(?<=</(script|SCRIPT))(>)(?:\\s*\\n)?'
        'endCaptures':
          '2':
            'name': 'punctuation.definition.tag.html'
        'contentName': 'text.embedded.html'
        'patterns': [
          {
            'include': '#cfml'
          }
          {
            'include': 'text.html.basic#tag-stuff'
          }
          {
            'begin': '(?<!</(?:script|SCRIPT))(>)'
            'captures':
              '1':
                'name': 'punctuation.definition.tag.html'
              '2':
                'name': 'entity.name.tag.script.html'
            'end': '(</)((?i:script))'
            'patterns': [
              {
                'include': '#cfml'
              }
              {
                'include': 'text.html.basic'
              }
            ]
          }
        ]
      }
      {
        'begin': '(?:^\\s+)?(<)((?i:script))\\b(?=[^>]*\\btype\\s*=\\s*[\'"]?text/coffeescript[\'"]?)(?![^>]*/>)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.html'
          '2':
            'name': 'entity.name.tag.script.html'
        'end': '(?<=</(script|SCRIPT))(>)(?:\\s*\\n)?'
        'endCaptures':
          '2':
            'name': 'punctuation.definition.tag.html'
        'contentName': 'source.coffee.embedded.html'
        'patterns': [
          {
            'include': '#cfml'
          }
          {
            'include': 'text.html.basic#tag-stuff'
          }
          {
            'begin': '(?<!</(?:script|SCRIPT))(>)'
            'captures':
              '1':
                'name': 'punctuation.definition.tag.html'
              '2':
                'name': 'entity.name.tag.script.html'
            'end': '(</)((?i:script))'
            'patterns': [
              {
                'include': '#cfml'
              }
              {
                'captures':
                  '1':
                    'name': 'punctuation.definition.comment.coffee'
                'match': '(#).*?((?=</script)|$\\n?)'
                'name': 'comment.line.number-sign.coffee'
              }
              {
                'include': 'source.coffee'
              }
            ]
          }
        ]
      }
      {
        'begin': '(?:^\\s+)?(<)((?i:script))\\b(?![^>]*/>)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.html'
          '2':
            'name': 'entity.name.tag.script.html'
        'end': '(?<=</(script|SCRIPT))(>)(?:\\s*\\n)?'
        'endCaptures':
          '2':
            'name': 'punctuation.definition.tag.html'
        'contentName': 'source.js.embedded.html'
        'patterns': [
          {
            'include': '#cfml'
          }
          {
            'include': 'text.html.basic#tag-stuff'
          }
          {
            'begin': '(?<!</(?:script|SCRIPT))(>)'
            'captures':
              '1':
                'name': 'punctuation.definition.tag.html'
              '2':
                'name': 'entity.name.tag.script.html'
            'end': '(</)((?i:script))'
            'patterns': [
              {
                'include': '#cfoutput-script'
              }
              {
                'include': '#cfml'
              }
              {
                'captures':
                  '1':
                    'name': 'punctuation.definition.comment.js'
                'match': '(//).*?((?=</script)|$\\n?)'
                'name': 'comment.line.double-slash.js'
              }
              {
                'begin': '/\\*'
                'captures':
                  '0':
                    'name': 'punctuation.definition.comment.js'
                'end': '\\*/|(?=</script)'
                'name': 'comment.block.js'
              }
              {
                'include': 'source.js'
              }
            ]
          }
        ]
      }
    ]
  'string':
    'patterns': [
      {
        'include': '#string-quoted-single'
      }
      {
        'include': '#string-quoted-double'
      }
    ]
  'string-quoted-single':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.cfml'
    'end': '\'(?!\')'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.cfml'
    'name': 'string.quoted.single.cfml'
    'patterns': [
      {
        'match': '\'\''
        'name': 'constant.character.escape.quote.cfml'
      }
      {
        'include': '#hash-delimiters'
      }
    ]
  'string-quoted-double':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.cfml'
    'end': '"(?!")'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.cfml'
    'name': 'string.quoted.double.cfml'
    'patterns': [
      {
        'match': '""'
        'name': 'constant.character.escape.quote.cfml'
      }
      {
        'include': '#hash-delimiters'
      }
    ]
  'tag-start':
    'begin': '(?i)(<)(cf_?[a-z_][a-z0-9_]*)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
    'end': '(/?>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.end.cfml'
    'name': 'meta.tag.cfml'
    'patterns': [
      {
        'include': '#tag-generic-attribute'
      }
    ]
  'tag-end':
    'patterns': [
      {
      'name': 'meta.tag.cfml'
      'match': '((?:<(?=/[a-zA-Z0-9:-]+))?/)((?i:cf)_?[_a-zA-Z0-9:-]+)(>)'
      'captures':
        '1':
          'name': 'punctuation.definition.tag.begin.cfml'
        '2':
          'name': 'entity.name.tag.cfml'
        '3':
          'name': 'punctuation.definition.tag.end.cfml'
      }
    ]
  'tag-generic-attribute':
    'patterns': [
      {
        'match': '\\b([a-zA-Z0-9:-]+)\\b'
        'captures':
          '1':
            'name': 'entity.other.attribute-name.cfml'
      }
      {
        'match': '(=)\\s*((?:[^\\s<>/\'"{;]|/(?!/>))+)'
        'captures':
          '1':
            'name': 'punctuation.separator.key-value.cfml'
          '2':
            'name': 'string.unquoted.cfml'
      }
      {
        'match': '='
        'name': 'punctuation.separator.key-value.cfml'
      }
      {
        'include': '#string'
      }
    ]
  'tags-with-script':
    'begin': '(?i)(<)(cfset|cfreturn)(?=\\s|/?>)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.cfml'
      '2':
        'name': 'entity.name.tag.cfml'
    'end': '(/?>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.end.cfml'
    'name': 'meta.tag.cfml'
    'contentName': 'source.cfscript'
    'patterns': [
      {
        'include': 'source.cfscript'
      }
    ]
