'scopeName': 'text.html.cfml'
'name': 'HTML (CFML)'
'fileTypes': [
  'cfm'
  'cfml'
  'cfc'
]
'patterns': [
  # Start the CFML Grammar.
  {
    'include': 'source.cfml'
  }
  {
    'include': 'text.html.basic'
  }
]
