'scopeName': 'text.html.cfml'
'name': 'HTML (CFML)'
'fileTypes': [
  'cfm'
  'cfml'
]
'injections':
  'L:meta.tag - meta.tag.cfml':
    'patterns': [
      {
        'include': '#embedded-cfml'
      }
    ]
  '(meta.scope.cfoutput.cfml) - ( comment.line.cfml | comment.block.cfml )':
    'patterns': [
      {
        'include': 'source.cfml#hash-delimiters'
      }
      {
        'include': '#embedded-cfml'
      }
    ]
'patterns': [
  # Start the CFML Grammar.
  {
    'include': '#embedded-cfml'
  }
]
'repository':
  'embedded-cfml':
    'patterns': [
      {
        'include': 'source.cfml'
      }
      {
        'include': 'text.html.basic'
      }
    ]
