'scopeName': 'text.html.cfml'
'name': 'HTML (CFML)'
'fileTypes': [
  'cfm'
  'cfml'
]
'injections':
  '(meta.scope.cfoutput.cfml, meta.scope.cfoutput.js.cfml) - comment.block.cfml':
    'patterns': [
      {
        'include': 'source.cfml#hash-delimiters'
      }
    ]
  'meta.tag - meta.tag.cfml':
    'patterns': [
      {
        'include': 'source.cfml#cfml'
      }
    ]
'patterns': [
  # Start the CFML Grammar.
  {
    'include': 'source.cfml'
  }
  {
    'include': 'text.html.basic'
  }
]
